/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
	cursor: default;
}

body {
	background-color: #141414;
}

#app {
	min-height: 100%;
}